@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Eczar:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
.herosection {
  background-image: url(/assets/images/png/hero-sec-bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Montserrat {
  font-family: "Montserrat", serif;
}
.button-hover {
  transition: all 0.3s linear;
}
.button-hover:hover {
  scale: 0.95;
}
.sementics-section {
  background: linear-gradient(180deg, #fff 50%, #f6f8fa 0);
}
